<mat-card class="feed-card">
  <img mat-card-image src="{{ imgUrl }}" alt="{{ title }}">
  <mat-card-title>{{ title }}</mat-card-title>
  <mat-card-content>
    <p>{{ summary }}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" href="{{ link }}" target="_blank">Ver nota</a>
  </mat-card-actions>
  <mat-card-footer>
    <p>Fuente: <a href="{{ sourceUrl }}" target="_blank">
      {{ sourceName }}
    </a></p>
  </mat-card-footer>
</mat-card>
